[Desktop Entry]
Type=Application
Name=REgenOS Companion
Comment=Pixel companion
Exec=regenos-companion
Icon=regenos
Terminal=false
Categories=Utility;
StartupWMClass=regenos-companion
X-GNOME-Autostart-enabled=true
